<mat-card class="example-card">
  <mat-card-header><mat-card-title> <strong>Ejemplo De Formulario:</strong></mat-card-title></mat-card-header>
    <mat-form-field>
    <mat-select [(value)]="selected">
     
      <mat-option value="option1">Opcion 1</mat-option>
      <mat-option value="option2">Opcion 2</mat-option>
      <mat-option value="option3">Opcion 3</mat-option>
    </mat-select>
  </mat-form-field><br>
  <mat-form-field appearance="legacy">
    <mat-label>Escriba Algo</mat-label>
    <input matInput placeholder=""><br><br>
  </mat-form-field> <br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Selecciona fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>
  <mat-checkbox>Yo soy un check box!</mat-checkbox><br><br>
  <mat-radio-group>
    <mat-radio-button value="1">Opcion 1  </mat-radio-button> 
    <mat-radio-button value="2">Opcion 2 </mat-radio-button>
  </mat-radio-group></mat-card>

  

  