nav{
    
    color:#fff;
    max-height: 70px;
    font-family:Nunito,sans-serif;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding:10px;
}

div.purpura{
    background:#403368;
    padding:40px;
}

.contenidopurpura{
    background:#5603ad;
}

.somos{
    background-color:#5603ad;
}

