<head><title>Webyeah</title>

</head>

<div class="row purpura">
<div class="col-lg-6">

<h2>Logo</h2>
</div>
<div class="col-lg-6">
    <nav>
        <a routerLink="/home">Inicio    </a>
        <a routerLink="/servicios">  Servicios </a>
        <a routerLink="/ofertas">  Ofertas </a>
        <a routerLink="/contacto">  Contacto </a>
      </nav> </div>
</div>
<router-outlet></router-outlet>
