<div class="col-lg-6">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>¿Qué es un Formulario?</strong>
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
<p>Un Formulario es un conjunto de datos que se ingresan en pantalla para ser guardados
  </p>
    <br>
<!--Select-->

<app-forma></app-forma><br>


<!--Radio Button-->
 
  </mat-expansion-panel> <br>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
          <strong> ¿Qué es un Banner?</strong>
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Un Banner es una imágen con información publicitaria sobre su negocio</p>
    <br>
    <img class="img-circle" src="http://localhost:4200/src/assets/images/bf.jpg" width="100%" height="65%"/>

  </mat-expansion-panel>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es una ubicación Google Maps?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel><br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es un Efecto?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Un efecto, es una acción que puede realizarse al hacer click, cargar la página o pasar el mouse sobre determinado icono  de la página</p>
<button mat-raised-button
        matTooltip="Efecto porque estas sobre el boton"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Parate sobre mi
</button>

<button mat-raised-button (click)="openDialog()">Haz click</button>

</mat-expansion-panel>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es un Botón?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es un carro de Compra?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es un Slider?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel><br>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es un Correo Corporativo?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel><br>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué significa Facebook o Twitter embebido?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es Una Firma para correo corporativo?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es una un Chat?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel><br>
<br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es Posicionamiento (SEO)?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel><br>
<mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<strong>¿Qué es una ubicación Google Maps?</strong>
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p>Ubicarte en Google Maps, significa que tu negocio tendrá veracidad de existencia en el mundo,
  serás visible para turistas y otras personas que busquen características propias de tu empresa
  o servicio, y estas marcarán tu ubicación exacta, especialmente si el usuario está cerca de ti.
</p>
   <img class="img-circle" src="http://localhost:4200/src/assets/images/espana.jpg" width="100%" height="65%"/>

</mat-expansion-panel>

</mat-accordion></div>