<div class=" row contenidopurpura">
<br>
<br>
<br>
<div class="col-lg-6 cotizar">
<h2>Tu Sitio Web, Tu Negocio. </h2><br>
<div class="typewriter"><h5>Calidad en el tiempo, al mejor precio </h5></div>
<br><br>
<button class="btn btn-warning">Cotiza ahora</button> <br><br><br>
<br></div>
<div class="col-lg-6">
        <div class="row">
            <div class="col-lg-2 border border-primary">
            <i class="fa fa-desktop" style="font-size: 48px;"></i><br>
            <div class="icontitulo">Sitios Web</div> </div>
            <div class="col-lg-2 border border-primary">
            <i class="fa fa-shopping-cart" style="font-size: 48px;"></i><br>
            <div class="icontitulo">Tienda Virtual</div> </div>
            <div class="col-lg-2 border border-primary">
            <i class="fa fa-pencil" style="font-size: 48px;"></i><br>
            <div class="icontitulo">Diseño Gráfico</div> </div>
                    
        </div> <!--row-->

        <div class="row">
                <div class="col-lg-2 border border-primary">
                <i class="fa fa-search" style="font-size: 48px;"></i><br>
                <div class="icontitulo">SEO </div><br> </div>
                <div class="col-lg-2 border border-primary">
                <i class="fa fa-mobile" style="font-size: 48px;"></i><br>
                <div class="icontitulo">App Movil</div><br> </div>
                <div class="col-lg-2 border border-primary">
                <i class="fa fa-wifi" style="font-size: 48px;"></i><br>
                <div class="icontitulo"> Redes</div><br> </div>
                        
        </div> <!--row-->
        <div class="row">
                <div class="col-lg-2 border border-primary">
                <i class="fa fa-facebook" style="font-size: 48px;"></i><br>
                <div class="icontitulo">Social Media</div> </div>
                <div class="col-lg-2 border border-primary">
                <i class="fa fa-wrench" style="font-size: 48px;"></i><br>
                <div class="icontitulo">Soporte Mensual</div> </div>
                <div class="col-lg-2 border border-primary">
                <i class="fa fa-code" style="font-size: 48px;"></i><br>
                <div class="icontitulo">Software a la medida</div> </div>
                
                        
        </div> 
        <br>
        <br>
        <br>
        <br>
        
</div>
</div>
<div class="flecha-down"></div>
<div class="row">
<div class="col-lg-12"><br><br><br></div>
 <div class="col-lg-6" style="padding-left:100px">
    <img class="img-circle" src="http://localhost:4200/src/assets/images/33.jpg" width="90%" height="85%"/></div>
<div class="col-lg-6">
        <br>
        <p class="desc">
            Nuestro equipo de desarrolladores, y diseñadores está
            conformada por jóvenes que tienen una gran trayectoria internacional
            en el área digital. Siendo nuestro trabajo estándar, basado en diversas
            tecnologías para cada proyecto en particular. Nos ajustamos a su presupuesto,
            así como a sus exigencias. Hacemos tecnología de primera calidad,
            y somos partícipes en sus resultados. Un 90% de nuestro equipo está conformado especialmente
            por líderes mujeres extranjeras, que trabajamos de manera remota y eficiente
            en diferentes países, de esta manera somos puntuales con los tiempos. 
            Somos capaces de construir su software y diseñarlo desde cero, así como 
            partir de tecnologías ya hechas para reducir costos y tiempos, También 
            hacemos marketing de nuestros desarrollos y soporte mensual de su página
            o software.
            
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

</div>
</div>
<div class="row">
    <div class="col-lg-12"><h2 class="purpura">Promociones Especiales</h2></div>
    <div class="row promos">
    <div class="col-sm-4">      
            <div class="card">
            <div class="card-header">
              Sitio One Page
            </div>
            <div class="card-body">
            <ul>
            <li>Sitio Web de 1 página</li>
            <li>Diseño Responsive</li>
            <li>1 Banner de inicio</li>
            <li>Iconos para redes sociales</li>
            <li>Desarrollo en 24 horas</li>
            <li >Formulario de Contacto</li>
            <li>2 correos corporativos</li>
            <li>Dominio y Hosting 1 año</li><br><br><br><br><br><br><br>
            <h2>70.000 CLP</h2>
            
           

            </ul>
            <a href="#" class="btn btn-primary btn-lg btn-block">Pedir Ahora</a>
        </div>
           
        </div></div>
        <div class="col-sm-4">      
                <div class="card">
                <div class="card-header">
                  Sitio Web Clásico
                </div>
                <div class="card-body">
                <ul>
                <li>Sitio Web de 5 páginas</li>
                <li>Diseño Responsive</li>
                <li>Slider Automático(para 3 imágenes)</li>
                <li>Iconos para redes sociales</li>
                <li>Desarrollo en 48 horas</li>
                <li>Formulario de Contacto</li>
                <li>SEO Básico (al buscar su nombre)</li>
                <li>4 Botones de Redes Sociales</li>
                <li>Dominio y Hosting 1 año</li>
                <li>5 correos corporativos </li><br><br><br><br>
               
                <h2>180.000 CLP</h2>

                </ul>
                <a href="#" class="btn btn-primary btn-lg btn-block">Pedir Ahora</a>
            </div>
               
            </div></div>
            <div class="col-sm-4">      
                    <div class="card">
                    <div class="card-header">
                      Catálogo o Tienda Virtual
                    </div>
                    <div class="card-body">
                    <ul >
                    <li >Sitio Web de hasta 5 páginas en menu</li>
                    <li >Diseño Responsive</li>
                    <li >Slider Automático(para 3 imágenes)</li>
                    <li >Iconos para redes sociales</li>
                    <li>Desarrollo desde 48 horas </li>
                    <li>Formulario de Contacto</li>
                    <li>150 Productos stock</li>
                    <li>SEO Básico (al buscar su nombre)</li>
                    <li>4 Botones de Redes Sociales</li>
                    <li>Carrito de Compra</li>
                    <li>10 correos corporativos </li>
                    <li>Dominio y Hosting 1 año</li><br>
                    <h2>300.000 CLP</h2>
                    
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg btn-block">Pedir Ahora</a>
                </div>
                   
                </div></div>
        
        </div><!--row-->
        <div class="row promos">
                <div class="col-sm-4">      
                        <div class="card">
                        <div class="card-header">
                          Sitio Web + Gráficos
                        </div>
                        <div class="card-body">
                        <ul>
                        <li>Sitio Web de hasta 5 páginas</li>
                        <li>Diseño Responsive</li>
                        <li>Diseño de Logo</li>
                        <li>3 Diseños de Banneres promocionales </li>
                        <li>Slider Automático para 3 imágenes</li>
                        <li>Iconos para redes sociales</li>
                        <li>Desarrollo en 48 horas</li>
                        <li >Formulario de Contacto</li>
                        <li>5 correos corporativos</li>
                        <li>Dominio y Hosting 1 año</li>
                        <br><br>
                        <h2>250.000 CLP</h2>
                        </ul>
                        <a href="#" class="btn btn-primary btn-lg btn-block">Pedir Ahora</a>
                    </div>
                       
                    </div></div>
                    <div class="col-sm-4">      
                            <div class="card">
                            <div class="card-header">
                              Posicionamiento Google Adwords
                            </div>
                            <div class="card-body">
                            <ul>
                            <li>Máximo de 10 Palabras</li>
                            <li>Vistas de anuncio en móvil</li>
                            <li>Vista de anuncio en Web</li>
                            <li>Configuración por click</li>
                            <li>Informe de visitas y clicks</li>
                            <li>Monto Máximo por palabra</li>
                            <li>Precio por mes </li><br><br><br><br><br>
                            <h5>Monto deseado en campaña</h5>
                          
                            <h2>+ 30.000 CLP</h2>


                            
                           
                            </ul>
                            <a href="#" class="btn btn-primary btn-lg btn-block">Pedir Ahora</a>
                        </div>
                           
                        </div></div>
                        <div class="col-sm-4">      
                                <div class="card">
                                <div class="card-header">
                                  Paquete Gráfico
                                </div>
                                <div class="card-body">
                                <ul>
                                <li >3 Diseños de Banneres</li>
                                <li >1 Diseño De logo</li>
                                <li >formato jpg</li>
                                <li >formato psd</li>
                                <br><br><br><br><br><br><br><br><br><br>
                                <h2>80.000 CLP</h2>
                                </ul>
                                <a href="#" class="btn btn-primary btn-lg btn-block">Pedir Ahora</a>
                            </div>
                               
                            </div></div>
                    
                    </div><!--row-->
</div>
<div class="col-lg-12">
<br><br>
<div class="blink"><h5 style="color:black">¿Quiere agregar más cosas a su sitio web pero no está seguro?</h5></div>

<p style="text-align: center;">Haz click sobre cada palabra para ver las especificaciones</p>
<br><br>
</div>

<app-accordion></app-accordion>