body{
margin:0px;
padding:0px; }

h1,h2,h3,h5{
    color:#fff;
    font-family:Nunito,sans-serif;
    text-align: center;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .blink{
      text-decoration: blink;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;
      -webkit-animation-direction: alternate;
  }

.typewriter h5 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .06em; /* Adjust as needed */
    animation: 
      typing 3.0s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  
.contenidopurpura{
    background-color:#5603ad;
    text-align: center;
    padding:0px;
    margin:0px;
    width:100%
}


     .btn-warning{
         font-weight: bold;
         font-size:30px;
     }

    
    
     .flecha-down {
        width:0px;
        height:0px;
        border-left:35px solid transparent; /* izquierda flecha */
        border-right:35px solid transparent; /* derecha flecha */
        border-top:35px solid #5603ad; /* base flecha y color*/
        font-size:0px;
        line-height:0px;
        margin-left:48%;
    }
    .fa-desktop{
        margin-top:10px;
        color: #5603ad;
        font-size:100px;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    .icontitulo{
        color:#5603ad;
    }
   
    .border-primary{
        background:#fff;
        margin-right:25px;
        border-radius: 10px;
    }

    .row{
        padding-top:15px;
    }
    .fa-shopping-cart{
        margin-top:10px;
        color:#5603ad;
         animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .fa-pencil{
        margin-top:10px;
        color:#5603ad;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .fa-search{
        margin-top:10px;
        color:#5603ad;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    .fa-mobile{
        margin-top:10px;
        color:#5603ad;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .fa-server{
        margin-top:10px;
        color:#5603ad;   
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .fa-facebook{
        margin-top:10px;
        color:#5603ad;   
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .fa-wrench{
        margin-top:10px;
        color:#5603ad;   
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .fa-toolbox{
        margin-top:10px;
        color:#5603ad;   
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .fa-code{
   
            margin-top:10px;
            color:#5603ad;   
            animation: 1s ease-out 0s 1 slideInFromLeft;
        
    }
    .fa-wifi{
        margin-top:10px;
        color:#5603ad; 
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .cotizar{
        padding-top:5%;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    h2.purpura{
      color:#5603ad !important; 
    }
    .img-circle{
        border-radius: 50%;
       
    }
    .desc{
    margin-top:50px;
    font-size:18px;
    text-justify:inter-word; 
    }
    .card-header{
     background:#fff;
     color:#6610f2;
     font-weight: bold;
    }
    .card-body{
        background-color:#6610f2;
        color:#fff;
    }
.row{
    padding-left:20px;
}
.promos{

    padding-left:10%;
}
